        body {
            background-image: url(../images/photoGallery/background.jpg);
            font-family: sans-serif;
        }

        #container {
            background-color: lightgoldenrodyellow;
            width: 1200px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        #header {
            background-color: cornflowerblue;
            color: black;
            font-size: 22px;
            text-align: center;
        }

        #content {
            padding: 10px;
        }

        #footer {
            clear: both;
            text-align: right;
            background-color: gray;
            color: white;
            padding: 0;

        }

        div.gallery {
            margin: 5px;
            border: 2px solid #ccc;
            float: left;
            width: 180px;
            background-color: white;
            
        }

        div.gallery:hover {
            border: 2px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
